<div (keydown.esc)="isModalOpen = false" class='sidenav' [@openBackDrop]="isModalOpen ? 'open' : 'close'">
  <div class='sidebar-container' [@openSidebar]="'sidebarOpen'" *ngIf="isModalOpen">
    <div class="closebtn" (click)="close()">&times;</div>
    <!-- <div class="title pb-2 px-25 col-sm-12">
      {{title}}
      <ng-content *ngIf="!title" select="[header]"></ng-content>
    </div> -->
    <div class="col-12 p-0 py-4 sidebar-content" id="scroll-content">
      <ng-content select="[body]"></ng-content>
    </div>
    <!-- <div class="footer flex-align-center" *ngIf="!hideFooter">
      <ng-content select="[footer]"></ng-content>
    </div> -->
  </div>
</div>
