@import '~src/assets/scss/appShared';

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  .sidebar-container {
    width: 50%;
    float: right;
    height: 100vh;
    background-color: $white;
    .sidebar-content {
      height: calc(100vh - 175px);
      overflow-y: auto;
    }
  }
  a {
    color: $black;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  .footer {
    padding: 15px;
    border-top: $modal-border;
    background-color: $white;
    min-height: 70px;
  }
  .title {
    border-bottom: $modal-border;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: $black;
    min-height: 50px;
  }
  .closebtn {
    position: absolute;
    right: 10px;
    font-size: 36px;
    cursor: pointer;
    z-index:999;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    .sidebar-container {
      padding-top: 15px;
    }
    a {
      font-size: 18px;
    }
  }
}
