
$required: #dc3545;
$dull-gray: #e2e2e2;
$light-gray: #ccc;
$dark-gray: #43506A;


$font-size-default: 16px;

// Colors
$black: #000;
$white: #fff;
$primary-color: #6C5D57;


//border-colors
$modal-border: 1px solid #e5e5e5;
$footer-hieght: 40px;
$navbar-hieght: 50px;
$main-content-height: $footer-hieght + $navbar-hieght;
//Font Family
$font-size-default : 16px;
$font-size-base:1rem;
$font-weight-bold:600; //default 700 in bootstrap

// Colors
$black: #000;
$white: #fff;
$border-gray: #ccc;
$orange: #fd8104;
$light-orange: #FB801D;
$star : #FD4;
$green: #8ec240;
$light-green: #a0c800;
$blue: #0fadc5;
$info-yellow: #F89406;
$red: #fa4d15;
$dull-gray: #e2e2e2;
$light-gray: #7c7c7c;
$brown: #964412;
$gray: #7c7c7c;
$purple: #9e6bdb;
$violet: #750751;
$primary-color: #a93184;
$secondary-text-color: $white;
$bg-color: $white;
$inactive-color: #6c5d56;
$link-orange: #fa4d15;
$dull-red: #fa4d15;
$checkbox-color: #6c5d56;
$edit-color: #6c5d56;
$input-border-color: #dbdbdb;
$disabled-bg: #f4f4f4;
$row-grey: #dedad4;
$brown: #964412;
$pale_pink: #dfc6b7;
$dark-blue: #003594;
$primary-dark-color: #750751;
//box-shadows
$box-shadow-color: rgba(0, 0, 0, 0.2);
$navbar-box-shadow: 0 2px 4px 0 $box-shadow-color;
$navbar-dropdown-box-shadow: 0 0 40px 0 $box-shadow-color;
$btn-box-shadow: 0 3px 6px 0 $box-shadow-color;
$modal-box-shadow: 0 5px 15px $box-shadow-color;
$back-drop: unquote('#0000002b');

//border-colors
$border-color: rgba(255,255,255,0);
$border-shadow: 1px solid $primary-color;
$edit-border-shadow: 1px solid $edit-color;
$modal-border: 1px solid #e5e5e5;
// Ag Grid Color Variables
$ag-header: $white;
$ag-selected-row: #e5eaf4;
$ag-row-background-color: #f1f4fa;
$ag-alernate-row-bg-color: #fbfbfb;
$ag-header-color: $black;
