<div class="row">
  <div class="col-12 px-4">
    <h3 class="float-left pl-1">Projects Timeline</h3>
  </div>
  </div>
  <div class="row m-0 ">
    <div class="col-md-3">
      <label for="projectName">Search By Project Name</label>
      <input type="text" id="projectName" class="form-control mb-2 mr-sm-2">
    </div>
    <div class="col-md-3">
      <label for="projectName">Search By Project Manager</label>
      <input type="text"  id="projectName" class="form-control mb-2 mr-sm-2">
    </div>
    <div class="col-md-3">
        <label for="projectName">Business Unit</label>
        <input type="text" id="projectName" class="form-control mb-2 mr-sm-2">
    </div>
  </div>
<div class="wrapper">
  <div class="gantt">
    <div class="gantt__row gantt__row--months">
      <div class="gantt__row-first"></div>
      <span>Jan</span><span>Feb</span><span>Mar</span>
      <span>Apr</span><span>May</span><span>Jun</span>
      <span>Jul</span><span>Aug</span><span>Sep</span>
      <span>Oct</span><span>Nov</span><span>Dec</span>
    </div>
    <div class="gantt__row gantt__row--lines" data-month="5">
      <span></span><span></span><span></span>
      <span></span><span></span><span></span>
      <span  class="marker"></span><span></span><span></span>
      <span></span><span></span><span></span>
    </div>
    <div class="gantt__row">
      <div class="gantt__row-first">
        Barnard Posselt
      </div>
      <ul class="gantt__row-bars">
        <li class="line" style="grid-column: 1/11"> </li>
        <li style="grid-column: 4/11; background-color: #2ecaac;">Even longer project</li>
      </ul>
    </div>
    <div class="gantt__row gantt__row--empty">
      <div class="gantt__row-first">
        Ryley Huggons
      </div>
      <ul class="gantt__row-bars"></ul>
    </div>
    <div class="gantt__row">
      <div class="gantt__row-first">
        Lanie Erwin
      </div>
      <ul class="gantt__row-bars">
        <li style="grid-column: 2/5; background-color: #2ecaac;">Start Februar 🙌</li>
        <li style="grid-column: 1/6; background-color: #ff6252;" class="stripes"></li>
        <li style="grid-column: 7/11; background-color: #54c6f9;">Same line</li>
      </ul>
    </div>
    <div class="gantt__row gantt__row--empty">
      <div class="gantt__row-first">
        Krishnah Pauleit
      </div>
      <ul class="gantt__row-bars"></ul>
    </div>
    <div class="gantt__row gantt__row--empty">
      <div class="gantt__row-first">
        Hobard Lampitt
      </div>
      <ul class="gantt__row-bars"></ul>
    </div>
    <div class="gantt__row">
      <div class="gantt__row-first">
        Virgilio Jeanes
      </div>
      <ul class="gantt__row-bars">
        <li style="grid-column: 2/5; background-color: #2ecaac;"></li>
      </ul>
    </div>
    <div class="gantt__row">
      <div class="gantt__row-first">
        Ky Verick
      </div>
      <ul class="gantt__row-bars">
        <li style="grid-column: 3/8; background-color: #54c6f9;">Long project</li>
      </ul>
    </div>

    <div class="gantt__row">
      <div class="gantt__row-first">
        Ketti Waterworth
      </div>
      <ul class="gantt__row-bars">
        <li style="grid-column: 4/9; background-color: #ff6252;" class="stripes">A title</li>
      </ul>
    </div>
  </div>
</div>
