@import '../../../../assets/scss/appVariables';

.table {
  thead {
    th {
      border-bottom: 1px solid #dee2e6;
      color: $primary-color;
      font-size: 0.75rem;
    }
  }
  td {
    border: none;
    color: $primary-color;
    font-size: 0.75rem;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(250, 249, 248, 1);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: $white;
}
