@import '../../../../assets/scss/appVariables';

.page_title {
  font-weight: bold;
  font-size: 1.5rem;
  color: $black;
}
.select_box {
  background: $primary-color;
  color: $white;
  outline: none;
}
.table_title {
  font-weight: bold;
  font-size: 1rem;
  color: $primary-color;
}

.report_tab {
  .nav-link {
    border: none;
    color: $black;
    padding: .5rem 0rem;
    margin: 0 1rem;
  }
  .nav-link.active {
    font-weight: 700;
    border-bottom: 4px solid #0FADC5;
  }
}
