<div class="row">
  <div class="col-12 px-4">
    <h2 class="m-0 float-left pl-1 page_title">Ongoing Projects</h2>
    <div class="form-group pr-1 float-right">
      <select class="select_box form-control">
        <option>Apr 2019</option>
        <option>May 2019</option>
        <option>Jun 2019</option>
        <option>Jul 2019</option>
        <option>Aug 2019</option>
      </select>
    </div>
  </div>
  <div class="col-12 d-flex">
    <div class="col-9">
      <app-highchart (ModalTrigger)="openModal()"></app-highchart>
    </div>
    <div class="col-3">
      <app-donutchart></app-donutchart>
    </div>
  </div>
  <div class="col-12 d-flex mt-4">
    <div class="col-7">
      <div class="bg-white">
        <h3 class="table_title p-3 m-0">Approaching Deadlines</h3>
        <app-table></app-table>
      </div>
    </div>
    <div class="col-5">
      <div class="bg-white">
        <h3 class="table_title p-3 m-0">Contract Resource</h3>
        <app-table></app-table>
      </div>
    </div>
  </div>
</div>
<app-sidebar [isModalOpen]="isModalOpen" (closeModal)="closeModal()">
  <ng-container body>
      <ul class="nav nav-tabs report_tab">
          <li class="nav-item">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Project Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">MIS Report</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="profile">
            tab one
            <app-project-details></app-project-details>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="buzz">
            <app-piechart></app-piechart>
          </div>
        </div>
  </ng-container>

</app-sidebar>
