<nav class="navbar fixed-top navbar-expand-lg custom-navbar navbar-light p-0">
  <div class="logo-img d-flex align-items-center mr-4">
  <a class="navbar-brand "><img  src="{{imagePath}}" /></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-left">
      <li class="nav-item">
        <a class="nav-link bg-primary-color" href="#">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Timesheet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disbursement</a>
      </li>
    </ul>
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item mr-3 mt-1">
            <a style="cursor: pointer;"  data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
            </a>
          </li>
          <li class="nav-item mr-3 mt-1">
            <a style="cursor: pointer;" data-toggle="dropdown">
              <span class="user-profile">Hi,User</span><i class="fa fa-angle-down drop-icon ml-3"></i>
            </a>
          </li>
          <li class="nav-item mr-3">
            <div class="float-left">
              <div class="dropdown pt-1">
                <a style="cursor: pointer;">
                <i class="fa fa-th mr-2 pointer bg-color-primary" data-toggle="dropdown" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </li>
      </ul>
  </div>
</nav>
