@import '../../../../assets/scss/appVariables';
.custom-navbar {
  background-color: $white;
  .logo-img {
    height: 60px;
    background-color: $primary-color;
}
  .navbar-nav.navbar-left {
    >li {
      >a {
        font-size: calculateRem(14px);
        color: $black;
      }
    }

    >li.active {
      font-weight: 700;
      color: $primary-color;
    }
  }
  .bg-primary-color {
     color: $primary-color !important;
  }
  .navbar-nav.navbar-right {
    >li {
      >a {
        font-size: calculateRem(14px);
        color: $primary-color;
      }
    }
  }
}
